{{ define "main" }}
<div class="container mx-auto px-4 py-8 max-w-prose">
  <!-- Title -->
  <section class="mb-10">
    <div class="text-left">
      <h2 class="text-2xl font-bold mb-4">Coursework</h2>
      <p class="text-base">
        Following in suit with the
        <a
          href="https://fanpu.io/courses/"
          class="text-blue-500 hover:underline"
          target="_blank"
          >many</a
        >
        <a
          href="https://abigalekim.github.io/courses/"
          class="text-blue-500 hover:underline"
          target="_blank"
          >alumni</a
        >
        <a
          href="https://ruiran.me/courses/"
          class="text-blue-500 hover:underline"
          target="_blank"
          >before</a
        >
        me, it's time for my obligatory review of the courses I took at CMU.
        Please note that I'll only be talking about courses I didn't have to
        take, so courses like
        <a
          a
          href="https://courses.ece.cmu.edu/18213"
          class="text-blue-500 hover:underline"
          target="_blank"
          >15-213/18-213</a
        >
        and
        <a
          a
          href="https://courses.ece.cmu.edu/18240"
          class="text-blue-500 hover:underline"
          target="_blank"
          >18-240</a
        >
        will not be covered. If have you have concerns about the ECE Core, don't
        worry - you will be in good hands.
      </p>
    </div>
  </section>

  <!-- Coursework  -->
  {{ $courses := where .Site.RegularPages "Params.topics" "intersect" (slice
  "course") }} {{ if $courses }} {{ $ml := slice }} {{ $lti := slice }} {{ $cive
  := slice }} {{ $ri := slice }} {{ $cs := slice }} {{ $ece := slice }} {{ range
  $courses }} {{ if strings.HasPrefix .Title "10" }} {{ $ml = $ml | append . }}
  {{ else if strings.HasPrefix .Title "11" }} {{ $lti = $lti | append . }} {{
  else if strings.HasPrefix .Title "12" }} {{ $cive = $cive | append . }} {{
  else if strings.HasPrefix .Title "16" }} {{ $ri = $ri | append . }} {{ else if
  strings.HasPrefix .Title "15" }} {{ $cs = $cs | append . }} {{ else if
  strings.HasPrefix .Title "18" }} {{ $ece = $ece | append . }} {{ end }} {{ end
  }} {{ if $ml }}
  <section class="mb-8">
    <h2 class="text-xl font-bold text-gray-900 mb-4">Machine Learning</h2>
    <ul>
      {{ range $ml }}
      <li class="text-lg">
        <a href="{{ .RelPermalink }}" class="text-blue-500 hover:underline"
          >{{ .Title }}</a
        >
      </li>
      {{ end }}
    </ul>
  </section>
  {{ end }} {{ if $lti }}
  <section class="mb-8">
    <h2 class="text-xl font-bold text-gray-900 mb-4">
      Language Technologies Institute
    </h2>
    <ul>
      {{ range $lti }}
      <li class="text-lg">
        <a href="{{ .RelPermalink }}" class="text-blue-500 hover:underline"
          >{{ .Title }}</a
        >
      </li>
      {{ end }}
    </ul>
  </section>
  {{ end }} {{ if $cive }}
  <section class="mb-8">
    <h2 class="text-xl font-bold text-gray-900 mb-4">
      Civil and Environmental Engineering
    </h2>
    <ul>
      {{ range $cive }}
      <li class="text-lg">
        <a href="{{ .RelPermalink }}" class="text-blue-500 hover:underline"
          >{{ .Title }}</a
        >
      </li>
      {{ end }}
    </ul>
  </section>
  {{ end }} {{ if $ri }}
  <section class="mb-8">
    <h2 class="text-xl font-bold text-gray-900 mb-4">Robotics Institute</h2>
    <ul>
      {{ range $ri }}
      <li class="text-lg">
        <a href="{{ .RelPermalink }}" class="text-blue-500 hover:underline"
          >{{ .Title }}</a
        >
      </li>
      {{ end }}
    </ul>
  </section>
  {{ end }} {{ if $cs }}
  <section class="mb-8">
    <h2 class="text-xl font-bold text-gray-900 mb-4">Computer Science</h2>
    <ul>
      {{ range $cs }}
      <li class="text-lg">
        <a href="{{ .RelPermalink }}" class="text-blue-500 hover:underline"
          >{{ .Title }}</a
        >
      </li>
      {{ end }}
    </ul>
  </section>
  {{ end }} {{ if $ece }}
  <section class="mb-8">
    <h2 class="text-xl font-bold text-gray-900 mb-4">
      Electrical and Computer Engineering
    </h2>
    <ul>
      {{ range $ece }}
      <li class="text-lg">
        <a href="{{ .RelPermalink }}" class="text-blue-500 hover:underline"
          >{{ .Title }}</a
        >
      </li>
      {{ end }}
    </ul>
  </section>
  {{ end }} {{ end }}
</div>
{{ end }}
