<footer class="bg-white mt-16 border-t border-gray-200">
  <div class="container mx-auto px-4 py-8">
    <section>
      <div class="text-center flex justify-center space-x-2 text-lg">
        <a
          href="https://github.com/luethan2025/"
          class="flex items-center text-lg text-blue-500 hover:underline space-x-1"
          target="_blank"
        >
          <img
            src="/images/logos/github_logo.png"
            alt="GitHub Logo"
            style="width: 20px; height: 20px"
          />
          <span>GitHub</span>
        </a>
        <span>&middot;</span>
        <a
          href="https://huggingface.co/luethan2025"
          class="flex items-center text-lg text-blue-500 hover:underline space-x-1"
          target="_blank"
        >
          <img
            src="/images/logos/hugging_face_logo.png"
            alt="Hugging Face Logo"
            style="width: 20px; height: 20px"
          />
          <span>Hugging Face</span>
        </a>
      </div>
    </section>
  </div>
</footer>
