@font-face {
  font-family: 'Computer Modern';
  src: url('/fonts/cmunss.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Computer Modern';
  src: url('/fonts/cmunsx.woff2') format('woff2');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Computer Modern';
  src: url('/fonts/cmunsx.woff2') format('woff2');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Computer Modern';
  src: url('/fonts/cmunbxo.woff2') format('woff2');
  font-weight: bold;
  font-style: italic;
}
